* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
}

.header {
    height: 80px;
    background-color: #000000;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.header svg {
    color: white;
    height: 50px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

section {
    height: 30px;
    background-color: #000000;
    margin-bottom: 20px;
}

h2, h3 {
    text-align: left;
}

h2 {
    font-size: .9em;
    font-weight: 500;
}

h3 {
    font-size: .8em;
    font-weight: 300;
    color: grey;
}

select {
    width: 100px;
    height: 24px;
    margin: 3px 0;
    border-radius: 3px;
}

select:focus {
    outline: none;
}

.discs-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discs-container.active {
    display: block;
}

.cds {
    width: 220px;
    height: 290px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    color: white;
    display: none;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
}

.cds.active {
    display: block;
}

.cds:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1);
}

.cds img {
    width: 100%;
    border-radius: 5px;
}

.cds::after {
    content: "\f04b";
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    width: 40px;
    height: 40px;
    background-color: #1db954;
    border-radius: 50%;
    position: absolute;
    bottom: 80px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s ease;
}

.cds:hover:after {
    bottom: 90px;
    opacity: 1;
}
